:root {
  --bg: #e0e5ec;
  --shadow-light: #ffffff;
  --shadow-dark: #a3b1c6;
  --screen-inset: inset 6px 6px 12px #c5cbd9, inset -6px -6px 12px #ffffff;
  --btn-bg: #e0e5ec;
  --btn-text: #333;
  --btn-special: #d1d9e6;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background: var(--bg);
  padding: 30px;
  border-radius: 30px;
  box-shadow: 9px 9px 16px var(--shadow-dark),
    -9px -9px 16px var(--shadow-light);
  width: 330px;
  border: 0px solid red;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.screen {
  min-height: 80px;
  border-radius: 15px;
  background: var(--bg);
  box-shadow: var(--screen-inset);
  font-size: 2rem;
  padding: 10px 15px;
  text-align: right;
  color: var(--btn-text);
  border: 0px solid #000;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  white-space: nowrap;
  line-height: 1.2em;
  transition: font-size 0.1s ease;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.btn {
  padding: 20px;
  border-radius: 12px;
  background: var(--btn-bg);
  box-shadow: 6px 6px 12px var(--shadow-dark),
    -6px -6px 12px var(--shadow-light);
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--btn-text);
  transition: all 0.2s ease;
  font-weight: 600;
}
.btn:active {
  box-shadow: inset 4px 4px 8px var(--shadow-dark),
    inset -4px -4px 8px var(--shadow-light);
}

.btn.operator {
  background-color: var(--btn-special);
}

.btn.equal {
  background-color: #a29bfe;
  color: #fff;
}

.btn.clear {
  background-color: #ff7675;
  color: #fff;
}

.btn.delete {
  background-color: #fab1a0;
  color: #fff;
}
